#demo
    background-size: cover
    background-position: center
    background-image: url("assets new/city.jpg")
    .box
        height: 128vh
        h1
            font-size: 70px
            color: #fff
            font-weight: 700
            margin: 150px 51px 28px 83px
        input
            border: 9px solid #ad9113
            color: #ad9113
            margin: 20px 30px 10px 43px
            padding: 10px 20px 10px 10px
        .btn
            border: 3px solid #ad9113
            margin: 33px 0 0 90px
            padding: 10px 10px 20px 10px
            color: #ad9113
            background-color: #fff
            display: block
            width: 81px
        .smallbox
            width: 300px
            margin: 50px
            border: 9px solid color: #ad9113
            font-size: 30px
            color: #fff
